html, body {
    color: #d8d4cd;
    background-color: #121212;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
 
 /*
  * Remove default fieldset styles.
  */
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
 
 /*
  * Allow only vertical resizing of textareas.
  */
textarea {
    resize: vertical;
}

a, p {
    font-family: 'Raleway', sans-serif;
    color: #d8d4cd;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
}

.sidebar-head {
    position: relative;
    width: 100%;
    height: 20%;
}

.sidebar-head-content {
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
}

.sidebar-title {
    position: relative;
    display:block;
    text-align: right;
    font-size: 2em;
}

.sidebar-icons {
    position: relative;
    display:block;
    text-align: right;
}

.sidebar-icons a {
    padding-left: 5px;
    -moz-transition: color .2s ease-in;
    -o-transition: color .2s ease-in;
    -webkit-transition: color .2s ease-in;
    transition: color .2s ease-in;
}

.sidebar-icons a:hover {
    color: #d02f52;
}

.sidebar-body {
    width: 100%;
    height: 80%;
}

.sidebar-body-content {
    position: relative;
    top: 50%;
    right:0;
    height: 30%;
    transform: translateY(-50%);
}

.sidebar-link {
    display:block;
    text-align: right;
    font-size: 1.5em;
    -moz-transition: color .2s ease-in;
    -o-transition: color .2s ease-in;
    -webkit-transition: color .2s ease-in;
    transition: color .2s ease-in;
}

.sidebar-link:hover {
    color: #d02f52;
}

.active-link, .hovered-link {
    color: #d02f52;
}

.content {
    font-family: 'Raleway';
    transform: translateY(-50%);
}

.home-body {
    position: absolute;
    left: 300px;
    top:0;
    width: calc(100% - 300px);
    height: 100%;
}

.home-body-content {
    position: relative;
    top: 40%;
    left:0;
    transform: translateY(-50%);
    width: 70%;
    height: 60%;
    padding-left: 150px;
    display: flex;
    flex-direction: column;
}

.body-text {
    text-align: justify;
    font-size: 1.2em;
}

.list-item {
    display: block;
    padding: 5px 20px;
    border-bottom: 1px solid #aaa;
    width: 100%;
    box-sizing: border-box;
}
a.list-item:hover {
    background-color: rgba(0.0, 0.0, 0.0, 0.125);
}

.list-item-title {
    color: #d95763;
    font-weight: bold;
    font-size: 2em;
    display: inline-block;
    margin: 20px;
    height: 65px;
    line-height: 65px;
}
a.list-item-title:hover {
    text-decoration: underline;
}

.list-item-image {
    width: 100px;
    height: 100px;
    display: inline-block;
}

.list-item-body {
    text-align: justify;
    font-size: 1.3em;
    padding: 10px 0;
}

.list-item-footer {
    color: #555555;
    font-style: italic;
}
.list-item-footer a {
    color: #d95763;
}

.new-list-item-button {
    position: absolute;
    right: 0;
    top: 20px;
}
.new-list-item-button a {
    color: #d95763;
    font-size: 1.3em;
    font-weight: bold;
    margin: 0 5px;
}
.new-list-item-button a:hover {
    text-decoration: underline;
}

.new-list-item-title {
    font-size: 1.5em;
    width: 100%;
    line-height: 2em;
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid #aaa;
    margin-bottom: 15px;
    box-sizing: border-box;
}
select:focus, input:focus, .new-list-item-text:focus {
    outline: none;
    border: 1px solid #d95763;
}
.new-list-item-text {
    width: 100%;
    line-height: 1.5em;
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid #aaa;
    margin-bottom: 15px;
    box-sizing: border-box;
}

#new-post-preview {
    margin-top: 20px;
}

pre code {
    font-size: 0.7em;
    line-height: 1.1;
    border-radius: 5px;
}
code {
    background-color: rgba(0.0, 0.0, 0.0, 0.095);
    padding: 0 5px;
    border-radius: 5px;
}

.post-title {
    font-size: 2.5em;
    font-weight: bold;
}
.post-subtitle {
    color: #555555;
    font-style: italic;
    margin-bottom: 10px;
}
.post-body {
    font-size: 1.2em;
}
.post-body p {
    margin-bottom: 30px;
}
.post-body p a {
    color: #d95763;
}

.tag-bar-container {
    display: inline-block;
    font-size: 1em;
    width: 100%;
    line-height: 1.5em;
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid #aaa;
    background: #fff;
    margin-bottom: 15px;
    box-sizing: border-box;
}
.tag-bar-container:focus {
    border: 1px solid #0077ff;
    border-radius: 10px;
}
.tag-bar-container input.tag-bar {
    background: rgba(0,0,0,0);
    border: 0;
    margin: 0;
    padding: 0;
}
.tag-bar-container input.tag-bar:focus {
    outline: none;
}
.tag-bar-tag {
    padding: 5px;
    background: #d95763;
    color: #eee;
    border-radius: 5px;
    margin-right: 5px;
}
.tag-bar-del-tag {
    color: #eee;
    font-size: 0.8em;
    line-height: 0.8;
    padding-left: 8px;
    cursor: pointer;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

.container {
    max-width: 960px;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 30px 0 30px 0;
}
.container a {
    color: #454545;
}
.container table {
    font-size: 11px;
    margin-top: 20px;
}
.container table thead td {
    background-color: #f5f5f5;
    padding: 4px 10px;
}
.container table tbody td {
    padding: 4px 10px;
}
.container .box {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 30px;
}
.container input {
    background-color: #f5f5f5;
    border: 0;
    padding: 5px 10px;
}
.container input[type="submit"] {
    background-color: #ccc;
    cursor: pointer;
}
.container input[type="submit"]:hover {
    background-color: #222;
    color: #fff;
}
.container button {
    background-color: #ccc;
    border: 0;
    padding: 5px 10px;
    cursor: pointer;
}
.container button:hover {
    background-color: #222;
    color: #fff;
}



/* navigation dropdown menu */
.navigation-submenu {
    display: inline-block;
    list-style: none;
    /* btw this is necessary to remove most browsers's "hidden" default <ul> intent */
    margin: 0;
    padding: 0;
}
.navigation.right {
    float: right;
}
.navigation li {
    float: left;
    margin-right: 5px;
}
.navigation-submenu {
    display: none;
}
.navigation li a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    border: 2px solid #454545;
    background: #454545;
    color: #fff;
    float:none;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
a:hover .navigation-submenu {
    display: block;
    position: absolute;
    float: left;
}
a:hover a {
    float: none;
}
.navigation a a:hover,
.navigation a:hover li a:hover {
    background: #fff;
    color: #454545;
}

.navigation > li.active a {
    background: #fff;
    color: #454545;
}
.navigation > li.active li a {
    background: #454545;
    color: #fff;
}

/* overview */
.overview-table img {
    width: 40px;
    height: 40px;
}

/* feedback boxes */
.feedback {
    padding: 30px;
    margin-bottom: 10px;
}
.feedback.success {
    color: #558f2d;
    background-color: #ddf2c0;
}
.feedback.error {
    color: #ff7272;
    background-color: #ffe5e5;
}
.feedback.info {
    color: #00529B;
    background-color: #BDE5F8;
}

.header_right_box {
    float: right;
}

/* login screen */
.login-page-box {
    display: table;
    width: 100%;
}
.login-page-box .table-wrapper {
    display: table-row;
}

.login-box {
    display: table-cell;
    margin: 0;
    color: #777;
    background-color: #f4f3f1;
    padding: 20px 50px 45px 50px;
    width: 49%;
    box-sizing: border-box;
    font-weight: 400;
    text-transform: uppercase;
}
.login-box h2 {
    color: #252525;
}
.login-box input[type="text"],
.login-box input[type="password"] {
    font-family: Arial, sans-serif;
    color: #252525;
    background-color: #ffffff;
    padding: 15px 20px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box; /* modern way to say width:100% without padding */
    /*text-transform: uppercase;*/
}
.login-box input[type="submit"] {
    color: #777;
    background-color: transparent;
    border: 2px solid #777;
    padding: 15px 20px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box; /* modern way to say width:100% without padding */
    text-transform: uppercase;
}
.login-box input[type="submit"]:hover {
    color: #fff;
    border-color: #252525;
    background-color: #252525;
}
.login-box .remember-me-label {
    display: block;
    margin-bottom: 10px;
}
.login-box .link-forgot-my-password {
    display: block;
    text-align: right;
}
.login-box .link-forgot-my-password a {
    color: #777;
    text-decoration: none;
}
.login-box .link-forgot-my-password a:hover {
    text-decoration: underline;
}
.login-box ::-webkit-input-placeholder { color: #777; opacity: 0.5; }
.login-box ::-moz-placeholder { color: #777; opacity: 0.5; }
.login-box :-ms-input-placeholder { color: #777; opacity: 0.5; }
.login-box input:-moz-placeholder { color: #777; opacity: 0.5; }

.register-box {
    display: table-cell;
    color: #fff;
    background-color: #252525;
    padding: 20px 50px 45px 50px;
    width: 49%;
    box-sizing: border-box;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
}
.register-box h2 {
    color: #fff;
}
.register-box a {
    width: 100%;
    display: block;
    box-sizing: border-box; /* modern way to say width:100% without padding */
    background-color: transparent;
    border: 2px solid #fff;
    padding: 15px 20px;
    margin-bottom: 10px;
    text-decoration: none;
    text-align: center;
    color: #fff;
}
.register-box a:hover {
    background-color: #ffffff;
    color: #252525;
}

/* error page */
.red-text {
    color: red;
}

#footer {
    text-align: right;
    width: 300px;
    font-size: 0.8em;
    position: absolute;
    bottom: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.modal {
    border-top: 5px solid #d95763;
    border-bottom: 5px solid #d95763;
    padding: 20px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.series-dropdown {
    display: inline-block;
    font-size: 1em;
    line-height: 1.5em;
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid #aaa;
    background: #fff;
    margin-bottom: 15px;
    margin-right: 5px;
    width: calc(100% - 180px);
}

button, input[type="submit"] {
    line-height: 1.5em;
    padding: 5px 15px;
    border-radius: 10px;
    background: #d95763;
    border: 0px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    margin: 5px 5px 0 0;
}
button:hover, input[type="submit"]:hover {
    background: #f0848e;
}

.series-new-button {
    width: 120px;
    margin: 0;
}
.series-delete-button {
    width: 40px;
    padding-left: 13px;
    margin: 0 0 0 5px;
}

input {
    line-height: 1.5em;
    font-size: 1em;
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid #aaa;
}

.series-info a {
    color: #d95763;
}

.oauth-button img {
    margin-bottom: 10px;
    border-radius: 5px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}